@import url('https://fonts.googleapis.com/css2?family=Copse&display=swap');


.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 10px;
}

.company-icon{
    width: 16px;
    height: 16px;
}

.text-footer{
    color: #554C44;
    font-family: 'Copse', serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
}