@import url('https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,700&display=swap');

.literata {
    font-family: "Literata", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    position: relative;
    width: auto;
    height: auto;
    background: linear-gradient(180deg, #EEE9D5 50%, rgba(90, 124, 135, 0) 100%);
} 

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40%;
    padding-top: 50px;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu_link{
    text-decoration: none;
    color: #015696;
}







